



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}






HTML {
  background-color: grey;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  
  height: 1080px;
  cursor: default;
  display: flex;
  
}
.main__left {
  padding: 100px 100px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
  width: 680px;
  height: 100%;
}
.main__right {
  width: calc(100% - 680px);
  background-image: url('./assets/img/main/main_bg.png');
  background-size: cover;
  background-position: center;
  height: 100%;
}
.header {
  height: 40px;
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  height: 40px;
  width: 118px; 
}
.header__logomobile {
  display: none;
}
.header__links {
  width: 249px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__link {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #6A707B;
text-decoration: none;
}

.wrapper {
  margin-top: 234px;
}
.form__box {
  padding: 0 40px;
}
.icon {
  display: block;
  position: absolute;
  left: 140px;
  top: 269px;
  opacity: 1;
}
.hide {
  display: none !important;
  opacity: 0 !important;
}
.form h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #131821;
  text-align: left;
}
.form__text {
  margin-top: 15px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6A707B;
  text-align: left;
}

.form__inputstyle {
  display: block;
  position: relative;
  z-index: 1;
  width: 663px;
  height: 70px;
  top: 50px;
  left: -40px;
  padding: 23px 40px;
  border: 1px solid #E3E3E4;
  opacity: 1;
}
.form__inputstyle::placeholder {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6A707B;
}
.form__inputstyle:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form__inputstyle:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid #4066A5 !important;
  outline: none;
}
.form__inputstyle:focus ~ .button svg path{
  fill: #4066A5 !important;
  opacity: 1 !important;
}
.form__inputstyle:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid #B80808 !important;
  outline: none;
}
.form__inputstyle:not(:focus):not(:placeholder-shown):invalid ~ .beforeelem{
  background-color: #B80808 !important;
}
.form__inputstyle-error {
  border: 1px solid #B80808 !important;
  outline: none;
}
.form-email {
  position: relative;
  margin-bottom: 103px;
}
/* .form-email::before {
  content: "";
  display: block;
  width: 4px;
  height: 70px;
  left: -40px;
  top: 50px;
  position: absolute;
  background: #4066A5;
  z-index: 3;
} */
.beforeelem {
  display: block;
  width: 4px;
  height: 70px;
  left: -40px;
  top: 50px;
  position: absolute;
  background: #4066A5;
  z-index: 3;
}
.button {
  height: 70px;
  width: 80px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 50px;
  left: 540px;
  cursor: pointer;
}
.button img {
  transform: translateX(-7px);
}
.form__policy {
  margin-top: 53px;
  text-align: left;
  display: flex;
  align-items: center;
}


.form__checkbox {
  height: 26px;
  width: 26px;
  display: grid;
  place-content: center;
}
.form__checkbox::before {
    content: url('./assets/img/main/Checkmark.png');
    height: 26px;
    width: 26px;
    transform: scale(0);
}
.form__checkbox:checked::before {
    transform: scale(1);
}

.form__policy span {
  margin-left: 15px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6A707B;
}
.form__policy a {
  color: #131821;
}
.form__policy a:hover {
  color: #4066A5;
}
.form__policy a:active {
  color: #233759;
}
.form__line {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  height: 1px;
  background: #E3E3E4;
}
.form__links {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 46px;
}
.form__linkbox {
  border: 2px solid #E3E3E4;
  border-radius: 100%;
  height: 46px;
  width: 46px;
  transition: all 0.5s;
}
.form__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  
}

.form__linkbox svg path{
  transition: all 0.5s;
}
.form__linkbox:hover svg path{
  fill: #fff !important;
  opacity: 1 !important;
  transition: all 0.5s;
}
.facebookhover:hover {
  background-color: #4267B2;
  border: 2px solid #4267B2;
  transition: all 0.5s;
}
.facebookhover:active {
  background-color: #2F4A80;
  border: 2px solid #2F4A80;
  transition: all 1s;
}
.instagemhover:hover {
  background-color: #C13584;
  border: 2px solid #C13584;
  transition: all 0.5s;
}
.instagemhover:active {
  background-color: #8F2762;
  border: 2px solid #8F2762;
}
.twitterhover:hover {
    background-color: #1DA1F2;
  border: 2px solid #1DA1F2;
  transition: all 0.5s;
}
.twitterhover:active {
    background-color: #177FBF;
  border: 2px solid #177FBF;
}
.youtubehover:hover {
  background-color: #FF0000;
  border: 2px solid #FF0000;
  transition: all 0.5s;
}
.youtubehover:active {
  background-color: #CC0000;
  border: 2px solid #CC0000;
}

.errorText {
  position: absolute;
  margin-top: 57px;
  margin-left: -20px !important;
  color: #B80808 !important;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.errorTextCheck {
  position: absolute;
  margin-top: 65px;
  margin-left: -3px !important;
  color: #B80808 !important;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}


button:disabled {
  opacity: 0.35;
}